<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partial/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partial/headerUser'); %>
</header>


<div class="row">
  <div class="col-sm-7">
    <div class="jumbotron">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Neeraj_Chopra_Of_India_cropped.jpg" alt="Latest News" style="max-width: 100%; height: auto;">
     <!-- content -->

      ></iframe>
    </div>
  </div>

  <div class="col-sm-5">
    <div class="jumbotron">
      <div class="location-info">
        <h2>Asian Games 2024:</h2>
        <p>
          India have arrived at the world stage, feels Neeraj Chopra after the country reached the landmark 100-medal mark at the Asian Games. 2024. Chopra lauded the athletes and said that it would set them up well for the Paris Olympics.
        </p>
      </div>
    </div>
  </div>
</div>


<footer>
  <%- include('../partial/footer'); %>
</footer>

</body>

</html>
